# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: |
  # Skip the files that must be kept as they are
  (?x)^(
    environment/cmake/.*\.patch|
    environment/cmake/UseLATEX\.cmake|
    environment/cmake/conan-.*\.cmake|
    # environment/conda/meta\.yaml|
    source/view/imgui/include/lue/imgui/font/.*
  )$
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  # - id: check-yaml
  - id: check-added-large-files
- repo: https://github.com/psf/black
  rev: 23.3.0
  hooks:
  - id: black
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.4.1
  hooks:
  - id: mypy
    # args: [--verbose]
    language: system  # Use interpreter in environment
    exclude: |
      (?x)^(
        source/data_model/python/test/.*|
        document/luepy/ext/.*|
        source/framework/case_study/.*|
        source/framework/python/test/.*|
        source/qa/python/qa/.*|
        source/qa/script/.*|
      )$
- repo: https://github.com/pycqa/isort
  rev: 5.12.0
  hooks:
  - id: isort
    files: |
      (?x)^(
        .*\.py|
        .*\.py.in|
      )$
- repo: https://github.com/pocc/pre-commit-hooks
  rev: v1.3.5
  hooks:
  - id: clang-format
    args: [--style=file, -i]
  # - id: clang-tidy
  #   # Skipping lue/framework for now because of issues with using clang icw build setup for gcc
  #   # Also skipping a few other files (unused ones, ...)
  #   exclude: |
  #     (?x)^(
  #       source/command/.*|
  #       source/data_model/test/include/lue/test/print.hpp|
  #       source/data_model/translate/include/lue/translate/command.hpp|
  #       source/data_model/translate/include/lue/translate/format.hpp|
  #       source/data_model/translate/include/lue/translate/format/gdal_stack.hpp|
  #       source/data_model/translate/include/lue/translate/format/gdal_stacks.hpp|
  #       source/data_model/translate/src/format/gdal_stack.cpp|
  #       source/data_model/translate/src/format/gdal_stacks.cpp|
  #       source/data_model/translate/src/format/geo_eas.cpp|
  #       source/data_model/utility/include/lue/utility/utility.hpp|
  #       source/framework/.*|
  #       source/framework/algorithm/benchmark/.*|
  #       source/framework/benchmark/.*|
  #       source/framework/case_study/.*|
  #       source/imgui/main.cpp|
  #       source/view/vulkan/.*|
  #       source/view/view/src/vulkan_application.cpp|
  #     )$
