@import "theme.css";  /* Read the Docs theme */

:root {
    --nord0: #2e3440;  /* Dark */
    --nord1: #3b4252;  /* Lighter than nord0 */
    --nord2: #434c5e;  /* Lighter than nord1 */
    --nord3: #4c566a;  /* Lighter than nord2 */

    --nord4: #d8dee9;  /* Bright */
    --nord5: #e5e9f0;  /* Ligher than nord4 */
    --nord6: #eceff4;  /* Ligher than nord5 */

    --nord7: #8fbcbb;  /* Calm, frozen polar water */
    --nord8: #88c0d0;  /* Bright, shiny, pure and clear ice */
    --nord9: #81a1c1;  /* Darkened, arctic waters */
    --nord10: #5e81ac;  /* Dark, deep arctic ocean */

    --nord11: #bf616a;  /* Redish */
    --nord12: #d08770;  /* Orange */
    --nord13: #ebcb8b;  /* Dark yellow */
    --nord14: #a3be8c;  /* Green */
    --nord15: #b48ead;  /* Purple */

    --background1: var(--nord6);
    --background2: var(--nord5);
    --background3: var(--nord9);
    /* --hover-background: var(--nord4); */

    --color1: var(--nord0);
    --color2: var(--nord3);
    --link-color: var(--nord10);

    --border1: 1px solid var(--color1);
    --border2: 1px solid var(--color2);
}


/* Override some colours */
body {
    color: var(--color1);
    font-size: 14pt;
}

.wy-nav-content {
    background: var(--background1);
}

.wy-nav-content-wrap {
    background: var(--background1);
}

.wy-nav-side {
    background: var(--background1);
}

.wy-side-nav-search {
    background: var(--background1);
    color: var(--color1);
}

.wy-side-nav-search .wy-dropdown > a, .wy-side-nav-search > a {
    color: var(--color1);
}

.wy-menu-vertical header, .wy-menu-vertical p.caption {
    color: var(--color1);
}

.wy-menu-vertical a {
    color: var(--color1);
}

.wy-menu-vertical a:hover
{
    background: var(--background1);
}

.wy-menu-vertical li.toctree-l1.current > a
{
    border-bottom: var(--border2);
    border-top: var(--border2);
}

.wy-menu-vertical li.current a
{
    border-right: none;
}

.wy-menu-vertical li.toctree-l2.current > a, .wy-menu-vertical li.toctree-l2.current li.toctree-l3 > a
{
    background: var(--background1);
}

.wy-menu-vertical li.toctree-l2 a, .wy-menu-vertical li.toctree-l3 a, .wy-menu-vertical li.toctree-l4 a, .wy-menu-vertical li.toctree-l5 a, .wy-menu-vertical li.toctree-l6 a, .wy-menu-vertical li.toctree-l7 a, .wy-menu-vertical li.toctree-l8 a, .wy-menu-vertical li.toctree-l9 a, .wy-menu-vertical li.toctree-l10 a
{
    color: var(--color1);
    background: var(--background1);
}

.wy-menu-vertical li.current > a, .wy-menu-vertical li.on a
{
    background: var(--background2);
    color: var(--color2);
}

.wy-menu-vertical li.current > a:hover, .wy-menu-vertical li.on a:hover
{
    background: var(--background2);
}

a, a:visited
{
    color: var(--link-color);
}


footer
{
    color: var(--color2);
}

.rst-content .note, .rst-content .seealso, .rst-content .wy-alert-info.admonition, .rst-content .wy-alert-info.admonition-todo, .rst-content .wy-alert-info.attention, .rst-content .wy-alert-info.caution, .rst-content .wy-alert-info.danger, .rst-content .wy-alert-info.error, .rst-content .wy-alert-info.hint, .rst-content .wy-alert-info.important, .rst-content .wy-alert-info.tip, .rst-content .wy-alert-info.warning, .wy-alert.wy-alert-info
{
    background: var(--background2);
}

.rst-content .note .admonition-title, .rst-content .note .wy-alert-title, .rst-content .seealso .admonition-title, .rst-content .seealso .wy-alert-title, .rst-content .wy-alert-info.admonition-todo .admonition-title, .rst-content .wy-alert-info.admonition-todo .wy-alert-title, .rst-content .wy-alert-info.admonition .admonition-title, .rst-content .wy-alert-info.admonition .wy-alert-title, .rst-content .wy-alert-info.attention .admonition-title, .rst-content .wy-alert-info.attention .wy-alert-title, .rst-content .wy-alert-info.caution .admonition-title, .rst-content .wy-alert-info.caution .wy-alert-title, .rst-content .wy-alert-info.danger .admonition-title, .rst-content .wy-alert-info.danger .wy-alert-title, .rst-content .wy-alert-info.error .admonition-title, .rst-content .wy-alert-info.error .wy-alert-title, .rst-content .wy-alert-info.hint .admonition-title, .rst-content .wy-alert-info.hint .wy-alert-title, .rst-content .wy-alert-info.important .admonition-title, .rst-content .wy-alert-info.important .wy-alert-title, .rst-content .wy-alert-info.tip .admonition-title, .rst-content .wy-alert-info.tip .wy-alert-title, .rst-content .wy-alert-info.warning .admonition-title, .rst-content .wy-alert-info.warning .wy-alert-title, .rst-content .wy-alert.wy-alert-info .admonition-title, .wy-alert.wy-alert-info .rst-content .admonition-title, .wy-alert.wy-alert-info .wy-alert-title
{
    background: var(--background3);
}
