name: Conda packages

on:
  pull_request:
  push:
    branches-ignore:
      - "ghxyz"
    paths:
      - ".github/workflows/conda.yml"
      - "source/**"
      - "!source/qa/python/qa/**"
      - "environment/cmake/**"
      - "environment/conda/**"

jobs:
    build:
        name: ${{ matrix.os }} / ${{ matrix.target-platform }}
        runs-on: ${{ matrix.os }}
        timeout-minutes: 180
        defaults:
            run:
                shell: bash -l {0}
        strategy:
            fail-fast: false
            matrix:
                include:
                - os: "macos-13"
                  target-platform: osx-64
                  conda-bld-dir: "/Users/runner/miniconda3/envs/test/conda-bld/osx-64/"
                - os: "ubuntu-22.04"
                  target-platform: linux-64
                  conda-bld-dir: "/home/runner/miniconda3/envs/test/conda-bld/linux-64/"
                - os: "windows-2019"
                  target-platform: win-64
                  conda-bld-dir: "C:/Users/runneradmin/miniconda3/envs/test/conda-bld/win-64/"
        steps:
            - name: Checkout
              uses: actions/checkout@v4
            - name: Install Conda
              uses: conda-incubator/setup-miniconda@v3
              with:
                  miniforge-version: latest
                  auto-update-conda: false
            - name: Build package
              run: |
                  mamba install boa
                  conda mambabuild environment/conda --override-channels --channel conda-forge
            - name: Upload
              uses: Dylan700/sftp-upload-action@latest
              if: github.repository == 'computationalgeography/lue' && github.ref == 'refs/heads/ghxyz'
              with:
                  server: ${{ secrets.FTP_SERVER }}
                  username: ${{ secrets.FTP_USERNAME }}
                  password: ${{ secrets.FTP_PASSWORD }}
                  port: ${{ secrets.FTP_PORT }}
                  delete: true
                  uploads: |
                      ${{ matrix.conda-bld-dir }} => ${{ secrets.FTP_REMOTE_DIR }}/download/conda/${{ matrix.target-platform}}/
