name: macOS Conda package

on:
  push:
    branches-ignore:
      - ghxyz
    paths:
      - ".github/workflows/macos-conda.yml"
      - "source/**"
      - "environment/cmake/**"
      - "environment/configuration/receipe/build.sh"
      - "environment/configuration/receipe/meta.yaml"
      - "environment/configuration/receipe/run_test.py"

jobs:
    build:

        strategy:
            matrix:
                os: ["macos-11"]
                python-version: ["3.9"]
            fail-fast: false

        runs-on: ${{ matrix.os }}

        name: ${{ matrix.os }} - ${{ matrix.python-version }}

        steps:

        - name: Checkout LUE
          uses: actions/checkout@v3

        - uses: conda-incubator/setup-miniconda@v2
          with:
              auto-update-conda: false
              python-version: ${{ matrix.python-version }}
              channels: conda-forge
              mamba-version: "*"
        - shell: bash -l {0}
          run: |
              mamba install boa -c conda-forge

        - name: Build
          shell: bash -l {0}
          run: |
              conda mambabuild environment/configuration/receipe --channel conda-forge --override-channels
