name: macOS CI

on:
  push:
    # branches-ignore:
    #   - gh247
    paths-ignore:
      - README.md
      - document/**
      - environment/**
    tags-ignore:
      - "**"

jobs:
    build:

        strategy:
            matrix:
                os: ["macos-11"]
                python-version: [3.9]
            fail-fast: false

        runs-on: ${{ matrix.os }}

        name: ${{ matrix.os }} / python - ${{ matrix.python-version }}

        steps:

        - name: checkout lue
          uses: actions/checkout@v2

        - name: configure system
          run: |
              brew update  # > /dev/null || true
              # brew upgrade
              brew install \
                  cmake \
                  boost \
                  doxygen \
                  fmt \
                  gdal \
                  glfw \
                  graphviz \
                  gperftools \
                  hdf5 \
                  hwloc \
                  ninja \
                  nlohmann-json \
                  pybind11 \
                  tree

        - uses: conda-incubator/setup-miniconda@v2
          with:
              auto-update-conda: true
              python-version: ${{ matrix.python-version }}
              channels: conda-forge

        - shell: bash -l {0}
          run: |
              # Pin markupsafe, used by Jinja which is used by Conan, because of a breaking
              # change in markupsafe 2.1.0
              conda install conan docopt "markupsafe<2.1.0" numpy
              # breathe sphinx
              conan profile new --detect default

        - name: configure lue
          shell: bash -l {0}
          run: |
              mkdir $GITHUB_WORKSPACE/../build
              cmake \
                  -S . \
                  -B $GITHUB_WORKSPACE/../build \
                  -G "Ninja" \
                  -D CMAKE_BUILD_TYPE=Release \
                  -D FETCHCONTENT_QUIET=FALSE \
                  -D LUE_BUILD_DOCUMENTATION=FALSE \
                  -D LUE_BUILD_TEST=TRUE \
                  -D LUE_TEST_NR_LOCALITIES_PER_TEST=1 \
                  -D LUE_TEST_NR_THREADS_PER_LOCALITY=2 \
                  -D LUE_BUILD_DATA_MODEL=TRUE \
                  -D LUE_DATA_MODEL_WITH_PYTHON_API=TRUE \
                  -D LUE_DATA_MODEL_WITH_UTILITIES=TRUE \
                  -D LUE_BUILD_FRAMEWORK=TRUE \
                  -D LUE_FRAMEWORK_WITH_PYTHON_API=TRUE \
                  -D LUE_BUILD_HPX=TRUE \
                  -D LUE_BUILD_VIEW=TRUE \
                  -D HPX_USE_CMAKE_CXX_STANDARD=TRUE \
                  -D HPX_WITH_MALLOC="tcmalloc" \
                  -D HPX_WITH_FETCH_ASIO=TRUE \
                  -D HPX_WITH_PKGCONFIG=FALSE \
                  -D HPX_WITH_EXAMPLES=FALSE \
                  -D HPX_WITH_TESTS=FALSE

        - name: build lue
          shell: bash -l {0}
          run: |
              cmake --build $GITHUB_WORKSPACE/../build --target all

        - name: test lue
          shell: bash -l {0}
          run: |
              cd $GITHUB_WORKSPACE/../build
              ctest --output-on-failure

        - name: install lue lue_runtime component
          shell: bash -l {0}
          run: |
              cmake --install $GITHUB_WORKSPACE/../build --prefix install --component hpx_runtime
              cmake --install $GITHUB_WORKSPACE/../build --prefix install --component lue_runtime

              install/bin/lue_translate --version
              install/bin/lue_validate --version
              install/bin/lue_view --version

              # TODO https://github.com/computationalgeography/lue/issues/473
              # export PYTHONPATH="`pwd`/install/lib/python${{ matrix.python-version }}:$PYTHONPATH"
              # python -c "import lue; print(lue.__version__)"
