name: macOS CI

on:
  push:
    branches-ignore:
      - "ghxyz"
    paths:
      - ".github/workflows/macos.yml"
      - "environment/cmake/**"
      - "source/**"
      - "!source/qa/python/qa/**"

jobs:
    build:

        strategy:
            matrix:
                os: ["macos-11"]
            fail-fast: true

        runs-on: ${{ matrix.os }}

        name: ${{ matrix.os }}

        steps:

        - name: checkout lue
          uses: actions/checkout@v3

        - name: configure system
          run: |
              brew update  # > /dev/null || true
              # brew upgrade
              brew install --overwrite \
                  asio \
                  boost \
                  doxygen \
                  fmt \
                  gdal \
                  glfw \
                  graphviz \
                  gperftools \
                  hdf5 \
                  hwloc \
                  ninja \
                  nlohmann-json \
                  numpy \
                  pybind11 \
                  tree \
                  vulkan-loader

        - shell: bash -l {0}
          run: |
              pip3 install "conan>=2" docopt jinja2 matplotlib

              # TODO Write host/build profiles and use those
              conan profile detect

        - name: configure lue
          shell: bash -l {0}
          run: |
              mkdir $GITHUB_WORKSPACE/../build
              LUE_CONAN_PACKAGES="docopt.cpp imgui span-lite" conan install . \
                  --profile=default \
                  --settings:host compiler.cppstd=17 \
                  --settings:build compiler.cppstd=17 \
                  --settings:build build_type=Release \
                  --build=missing \
                  --output-folder=$GITHUB_WORKSPACE/../build
              CMAKE_PREFIX_PATH=$GITHUB_WORKSPACE/../build \
                  cmake --preset conan-release \
                      -B $GITHUB_WORKSPACE/../build \
                      -D LUE_BUILD_QA=TRUE \
                      -D LUE_QA_WITH_PYTHON_API=TRUE \
                      -D LUE_QA_WITH_TESTS=TRUE \
                      -D LUE_QA_TEST_NR_LOCALITIES_PER_TEST=1 \
                      -D LUE_QA_TEST_NR_THREADS_PER_LOCALITY=2 \
                      -D LUE_DATA_MODEL_WITH_PYTHON_API=TRUE \
                      -D LUE_DATA_MODEL_WITH_UTILITIES=TRUE \
                      -D LUE_FRAMEWORK_WITH_PYTHON_API=TRUE \
                      -D LUE_BUILD_HPX=TRUE \
                      -D HPX_USE_CMAKE_CXX_STANDARD=TRUE \
                      -D HPX_WITH_MALLOC="tcmalloc" \
                      -D HPX_WITH_PKGCONFIG=FALSE \
                      -D HPX_WITH_EXAMPLES=FALSE \
                      -D HPX_WITH_TESTS=FALSE \
                      -D Python3_EXECUTABLE="/usr/local/bin/python3"

        - name: build lue
          shell: bash -l {0}
          run: |
              cmake --build $GITHUB_WORKSPACE/../build --target all

        - name: test lue
          shell: bash -l {0}
          run: |
              cd $GITHUB_WORKSPACE/../build
              ctest --output-on-failure

        - name: install lue runtime component
          shell: bash -l {0}
          run: |
              cmake --install $GITHUB_WORKSPACE/../build --prefix install --component runtime
              cmake --install $GITHUB_WORKSPACE/../build --prefix install --component lue_runtime

              install/bin/lue_translate --version
              install/bin/lue_validate --version
              install/bin/lue_view --version

              export PYTHONPATH="$(echo install/lib/python3.*):$PYTHONPATH"
              python3 install/bin/lue_scalability --version
              python3 -c "import lue, lue.data_model, lue.framework, lue.pcraster, lue.qa.scalability; print(lue.__version__)"
