name: Windows CI

on: [push]

jobs:
    build:

        strategy:
            matrix:
                os: ["windows-2019"]
                python-version: [3.9]
            fail-fast: false

        runs-on: ${{ matrix.os }}

        name: ${{ matrix.os }} / python - ${{ matrix.python-version }}

        steps:

        - name: checkout lue
          uses: actions/checkout@v2

        - uses: conda-incubator/setup-miniconda@v2
          with:
              auto-update-conda: true
              python-version: ${{ matrix.python-version }}
              channels: conda-forge
        - shell: bash -l {0}
          run: |
              # Pin markupsafe, used by Jinja which is used by Conan, because of a breaking
              # change in markupsafe 2.1.0
              conda install boost-cpp conan gdal hdf5 libhwloc "markupsafe<2.1.0" numpy

        - name: configure lue
          shell: bash -l {0}
          run: |
              mkdir build
              cmake \
                  -S . \
                  -B build \
                  -G "Visual Studio 16 2019" -A x64 \
                  -DCMAKE_BUILD_TYPE=Release \
                  -DLUE_BUILD_DATA_MODEL:BOOL=TRUE \
                  -DLUE_DATA_MODEL_WITH_PYTHON_API:BOOL=TRUE \
                  -DLUE_DATA_MODEL_WITH_UTILITIES:BOOL=TRUE \
                  -DLUE_BUILD_FRAMEWORK:BOOL=TRUE \
                  -DLUE_FRAMEWORK_WITH_BENCHMARKS:BOOL=FALSE \
                  -DLUE_FRAMEWORK_WITH_PYTHON_API:BOOL=TRUE \
                  -DLUE_BUILD_VIEW:BOOL=TRUE \
                  -DLUE_BUILD_TEST:BOOL=TRUE \
                  -DLUE_TEST_NR_LOCALITIES_PER_TEST=2 \
                  -DLUE_TEST_NR_THREADS_PER_LOCALITY=1 \
                  -DLUE_BUILD_DOCUMENTATION:BOOL=FALSE \
                  -DLUE_HAVE_BOOST:BOOL=TRUE \
                  -DLUE_HAVE_DOCOPT:BOOL=FALSE \
                  -DLUE_HAVE_FMT:BOOL=FALSE \
                  -DLUE_HAVE_GDAL:BOOL=TRUE \
                  -DLUE_HAVE_GLEW:BOOL=FALSE \
                  -DLUE_HAVE_GLFW:BOOL=FALSE \
                  -DLUE_HAVE_HDF5:BOOL=TRUE \
                  -DLUE_HAVE_NLOHMANN_JSON:BOOL=FALSE \
                  -DLUE_HAVE_PYBIND11:BOOL=FALSE \
                  -DLUE_BUILD_HPX:BOOL=TRUE \
                  -DHPX_USE_CMAKE_CXX_STANDARD=TRUE \
                  -DHPX_WITH_MALLOC="system" \
                  -DHPX_WITH_FETCH_ASIO=TRUE \
                  -DHPX_WITH_PKGCONFIG=FALSE \
                  -DHWLOC_ROOT="$CONDA_PREFIX/Library" \
                  -DHWLOC_LIBRARY="$CONDA_PREFIX/Library/lib/hwloc.dll.lib" \
                  -DHPX_WITH_EXAMPLES=FALSE \
                  -DHPX_WITH_TESTS=FALSE

        - name: build lue
          shell: bash
          run: |
              cmake --build build --config Release --target all_build

        - name: test lue
          shell: bash
          run: |
              # TODO Fix execution of excluded tests
              ctest --test-dir build --build-config Release -R python_test
              # cmake --build build --config Release --target run_tests

        - name: install lue lue_runtime component
          shell: bash
          run: |
              # This installs the HPX stuff
              cmake --install build --prefix install
              # Installs the LUE runtime stuff
              cmake --install build --component lue_runtime --prefix install
              tree install
              # TODO Fix once we can test these ourselves
              # install/bin/lue_translate --version
              # install/bin/lue_validate --version
              # install/bin/lue_view --version
              # LD_LIBRARY_PATH="`pwd`/install/lib:$LD_LIBRARY_PATH" PYTHONPATH=`pwd`/install/lib/python${{ matrix.python-version }}/lue python -c "import lue; print(lue.__version__)"
