name: Windows Conda package

on:
  push:
    branches-ignore:
      - "gh547"
    paths:
      - ".github/workflows/windows-conda.yml"
      - "source/**"
      - "!source/qa/python/qa/**"
      - "environment/cmake/**"
      - "environment/conda/bld.bat"
      - "environment/conda/conda_build_config.yaml"
      - "environment/conda/meta.yaml"
      - "environment/conda/run_test.py"

jobs:
    build:

        strategy:
            matrix:
                os: ["windows-2022"]
                python-version: ["3.9"]
            fail-fast: true

        runs-on: ${{ matrix.os }}

        name: ${{ matrix.os }} / python - ${{ matrix.python-version }} / conda

        steps:

        - name: checkout LUE
          uses: actions/checkout@v3

        - uses: conda-incubator/setup-miniconda@v2
          with:
              auto-update-conda: true
              python-version: ${{ matrix.python-version }}
              channels: conda-forge

        - name: Build
          shell: bash -l {0}
          run: |
              conda install boa
              conda mambabuild environment/conda --override-channels --channel conda-forge
